@font-face {
  font-family: "ARCADECLASSIC";
  src: local("ARCADECLASSIC"), url(./fonts/ARCADECLASSIC.TTF) format("truetype");
}

@font-face {
  font-family: "dyslex";
  src: local("ADYS"), url(./fonts/ADYS.otf) format("opentype");
}

@font-face {
  font-family: "roboto";
  src: local("Roboto-Bold"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}

body {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #3a3f3f;
  position: absolute;
}

.App {
  padding: 5px;
  text-align: center;
  color: #f2f2f2;
  position:relative;
}

.title {
  font-size: 60px;
}

.fontSelect {
  border-radius: 3px;
  font-size: 20px;
  height: 35px;
  width: 130px;
}

.randomizeButton {
  border-radius: 3px;
  height: 35px;
  font-size: 20px;
  width: 130px;
}

table {
  text-align: center;
  display: inline-block;
}

table td {
  width: 350px;
  padding: 12px;
  max-width: 950px;
}

table tr {
  width: 20%;
  vertical-align: top;
}

.cardsColumnsTitle {
  text-align: center;
}

.cardsColumns {
  text-align: center;
  border-bottom: 1px solid black;
  width: 950px;
}

.otherColumnTitle {
  text-align: center;
}

.otherColumn {
  text-align: center;
  width: 250px;
  border-bottom: 1px solid black;
}

.simpleFooter {
  margin-top: 15px;
  font-size: 16px;
}

a {
  color: #f2f2f2;
}

.cardImage {
  margin: 5px;
}
