@font-face{
  font-family: 'ARCADECLASSIC';
  src: local('ARCADECLASSIC'), url(./fonts/ARCADECLASSIC.TTF) format('truetype');
}

.App {
  font-family: ARCADECLASSIC;
  padding-left: 10px;
}

.title {
  font-size: 60px;
}